/* Importing a custom font. */
@font-face {
  font-family: "CircularStd";
  src: url("../font/CircularStd-Medium.eot");
  src: url("../font/CircularStd-Medium.woff") format("woff"),
    url("../font/CircularStd-Medium.svg") format("svg");
}

body {
  background-color: black;
  max-width: 1920px;
  margin: auto;
}

body,
html {
  font-family: 'CircularStd', sans-serif;
  color: white;
}

button {
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 25px;
}

button:hover {
  background-color: white;
  color: black;
}

.row {
  --bs-gutter-x: "0";
}

.container {
  max-width: 1920px;
}

.socialsFooter {
  display: none;
}

.mintLink {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .azoriaFooter {
    padding: 40px 0;
  }

  .socials {
    display: none;
  }

  .socialsFooter {
    display: inline-block;
    padding-top: 40px;
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: calc(0.7vw + 0.8vh)
  }
}

@media screen and (max-width: 576px) {
  .footerSocialCol {
    display: block;
  }
}